body {
background-color: #e5e5f7;
opacity: 0.8;
background: linear-gradient(135deg, #fa0d0d55 25%, transparent 25%)
             -10px 0/ 20px 20px, linear-gradient(225deg, #ff0404 25%, transparent 25%)
             -10px 0/ 20px 20px, linear-gradient(315deg, #4492f755 25%, transparent 25%)
             0px 0/ 20px 20px, linear-gradient(45deg, #1519ff 25%, #ffffff 25%) 0px 0/ 20px 20px;
}
