body {
background-color: #2e2e35;
opacity: 0.8;
}

title{
    color:ghostwhite;
}

h1{
    color:floralwhite;
}

h2{
    color:floralwhite;
}

p{
    color:floralwhite;
}

.container{
    background-color: #94949454;
    width: 300px;
    min-height: 300px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }